@model List<SelectListItem>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Demo";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-6">
            <a href="https://github.com/Zaid-Safadi/dicom-webJS">https://github.com/Zaid-Safadi/dicom-webJS</a> 
        </div>
        <div class="col col-sm-6">
            @Html.Label( "serverList", "Server List:" )
            @Html.DropDownList( "serverList", Model, new{@class = "form-control"} )
        </div>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#_QueryFieldsView" aria-controls="_QueryFieldsView" role="tab" data-toggle="tab">Query & Retrieve</a>
    </li>
    <li role="presentation">
        <a href="#_StoreView" aria-controls="_StoreView" role="tab" data-toggle="tab">Store</a>
    </li>
</ul>

<div class="tab-content clearfix">
    <div role="tabpanel" class="tab-pane active" id="_QueryFieldsView">
        <div class="col-sm-3">
            @Html.Partial("_QueryFieldsView")
        </div>
        <div class="col-sm-9">
            @Html.Partial("_StudyView")
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="_StoreView">
        @Html.Partial("_StoreView")
    </div>
</div>



@Html.Partial("_AlertDlg")


@section styles
{

}

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>

    @if ( ViewBag.serverUrl != null )
    {
    <script>
        var serverUrl = "@ViewBag.serverUrl";
    </script>
    }


}
