@model List<SelectListItem>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Demo";
}

@section navbar_Header_Content
{   
    <li>
        <div> 
            @Html.Label( "serverList", "Server List:", new {@style="display:inline-block;padding-top:15px;color:white"})
            @Html.DropDownList( "serverList", Model, new{@class = "form-control", @style = "width:auto;display:inline-block"} )
        </div>    
    </li>
}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#_QueryFieldsView" aria-controls="_QueryFieldsView" role="tab" data-toggle="tab">Query & Retrieve</a>
    </li>
    <li role="presentation">
        <a href="#_StoreView" aria-controls="_StoreView" role="tab" data-toggle="tab">Store</a>
    </li>
    <li role="presentation">
        <a href="#_ViewerView" aria-controls="_Viewer" role="tab" data-toggle="tab">Viewer</a>
    </li>
</ul>

<div class="tab-content clearfix">
    <div role="tabpanel" class="tab-pane active" id="_QueryFieldsView">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Click the "Search" button to query the <a href="https://github.com/Zaid-Safadi/DICOMcloud">DICOMcloud WADO server</a> using DIOCM <strong>QIDO-RS</strong> service. 
            Click on a study from the studies panel to query for series and then instances. You can view an instance by clicking on the <strong>"View"</strong> button.
        </div>
        <div class="col-sm-2">
            @Html.Partial("_QueryFieldsView")
        </div>
        <div class="col-sm-10">
            @Html.Partial("_StudyView")
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="_StoreView">
        @Html.Partial("_StoreView")
    </div>
    <div role="tabpanel" class="tab-pane" id="_ViewerView">
        @Html.Partial("_cornerstoneViewer" );

    </div>
</div>



@Html.Partial("_AlertDlg")
@Html.Partial("_ImageViewer")

@section styles
{
    @Styles.Render("~/Content/dicomweb-js" )
}

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>

    @if ( ViewBag.serverUrl != null )
    {
    <script>
        var serverUrl = "@ViewBag.serverUrl";
    </script>
    }


}
